@{
    Layout = MVC.Shared.Views._LayoutPage;
}

<hgroup class="title">
    <h1>@Resource.ForgotPasswordConfirmation.</h1>
</hgroup>
<div>
    <p>
        @Resource.PleaseCheckYourEmailToResetYourPassword.
    </p>
</div>