@{
    Layout = MVC.Shared.Views._LayoutPage;
}
<div class="block-center mt-xl wd-xl">
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <h2>@Resource.ResetPasswordConfirmation</h2>
        </div>
        <div class="panel-body">
            <p class="text-center pv">
                @Resource.YourPasswordHasBeenReset
                <a href="@MVC.Account.Login()" id="loginLink">لطفا @Resource.ClickHereToLogIn</a>
                @*@Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
            </p>
        </div>
    </div>
</div>